<%- include("header") -%>

<h2>Personal Details</h2>

Name: Dev Gupta <br>
Age: 19yrs old <br>
DOB: 15/11/2002 <br>
Address: New Delhi <br>
Education: B.tech(IT), Bharati vidyapeeth's College Of Engineering

<%- include("footer.ejs") -%>
